#!/usr/bin/env python
PACKAGE = "hydra_ros"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# === Group: Navigation ===
nav_group = gen.add_group("Navigation")
nav_group.add("enable_one_by_one_navigation", bool_t, 0,
              "Enable one-by-one navigation", False)
nav_group.add("always_publish_waypoints", bool_t, 0,
              "Always publish waypoints", False)

# === Group: ObjectSearch ===
search_group = gen.add_group("ObjectSearch")
search_group.add("room_prob_threshold", double_t, 0,
                 "Probability threshold for room detection", 0.15, 0.0, 1.0)
search_group.add("object_prob_threshold", double_t, 0,
                 "Probability threshold for object detection", 0.7, 0.0, 1.0)
search_group.add("min_object_vertices", int_t, 0,
                 "Minimum number of vertices for an object to be considered valid", 20, 1, 1000)

exit(gen.generate(PACKAGE, PACKAGE, "Navigation"))
